{% extends "FoosLeaderCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header clearfix">
        <h1> League statistics </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">League progress</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        {% if elo_history_all_dates is empty %}
                            <strong>Let the season begin ! </strong>
                        {% else %}
                            {% include "FoosLeaderCoreBundle:Widgets:elo_graph_all.html.twig"  with { results: elo_history_all_dates, players : elo_history_all_players} %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Elo</h3>
                </div>
                <table class="table hoverable striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Elo</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in games_elo %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>
                                {% if app.user.id == player.id %}
                                    <strong>{{ player.username }}</strong>
                                {% else %} 
                                    <a href={{ path('view_user_profile', { 'userId' : player.id }) }}>
                                        {{ player.username }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ player.ELORanking }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col s6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Win %</h3>
                </div>
                <table class="table hoverable striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Win %</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for statistic in games_won_ratio %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>
                                {% if app.user.id == statistic.player.getId() %}
                                    <strong>{{ statistic.player.username }}</strong>
                                {% else %} 
                                    <a href={{ path('view_user_profile', { 'userId' : statistic.player.id }) }}>
                                        {{ statistic.getPlayer().username }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ (statistic.getWinRatio() * 100)|round }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col s6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Score ratio</h3>
                </div>
                <table class="table hoverable striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Score ratio</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for statistic in games_score_ratio %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>
                                {% if app.user.id == statistic.player.id %}
                                    <strong>{{ statistic.player.username }}</strong>
                                {% else %} 
                                    <a href={{ path('view_user_profile', { 'userId' : statistic.player.id }) }}>
                                        {{ statistic.player.username }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ statistic.getGoalRatio()|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col s6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Avg. scored</h3>
                </div>
                <table class="table hoverable striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Avg. scored</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for statistic in games_avg_scored %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>
                                {% if app.user.id == statistic.player.id %}
                                    <strong>{{ statistic.player.username }}</strong>
                                {% else %} 
                                    <a href={{ path('view_user_profile', { 'userId' : statistic.player.id}) }}>
                                        {{ statistic.player.username }}</a>
                                {% endif %}
                            </td>
                            <td>{{ statistic.getAverageGoalsScored()|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col s6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Avg. conceded</h3>
                </div>
                <table class="table hoverable striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Avg. conceded</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for statistic in games_avg_conceded %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>
                                {% if app.user.id == statistic.player.id %}
                                    <strong>{{ statistic.player.username }}</strong>
                                {% else %} 
                                    <a href={{ path('view_user_profile', { 'userId' : statistic.player.id }) }}>
                                        {{ statistic.player.username }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ statistic.averageGoalsConceded()|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
