{% extends "FoosLeaderCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header clearfix">
        <h1> League statistics </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">League progress</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        {% if elo_history_all_dates is empty %}
                            <strong>Let the season begin ! </strong>
                        {% else %}
                            {% include "FoosLeaderCoreBundle:Widgets:elo_graph_all.html.twig"  with { results: elo_history_all_dates, players : elo_history_all_players} %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Elo</h3>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Elo</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,player in games_elo %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>{{ player.name }}</td>
                            <td>{{ player.elo }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Win %</h3>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Win %</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,player in games_won_ratio %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>{{ player.name }}</td>
                            <td>{{ player.ratio|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Score ratio</h3>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Score ratio</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,player in games_score_ratio %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>{{ player.name }}</td>
                            <td>{{ player.scoreRatio|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Avg. scored</h3>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Avg. scored</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,player in games_avg_scored %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>{{ player.name }}</td>
                            <td>{{ player.avgScored|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Avg. conceded</h3>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Name</td>
                        <td>Avg. conceded</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,player in games_avg_conceded %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="firstPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 2 %}
                                <td class="secondPlace"><span></span>{{ loop.index }}</td>
                            {% elseif loop.index == 3 %}
                                <td class="thirdPlace"><span></span>{{ loop.index }}</td>
                            {% else %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                            <td>{{ player.name }}</td>
                            <td>{{ player.avgConceded|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
