<div class="page-header clearfix">
	<h1> Your profile </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Progress</h3>
            </div>
            <div class="panel-body">
                {% if elo_history is empty %}
                    <strong> You have not played any games yet, sportsman </strong>
                {% else %}
                    {% include "FoosLeaderCoreBundle:Widgets:elo_graph_single.html.twig"  with { results: elo_history } %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Username</h3>
			</div>
			<div class="panel-body">
				{{ user.username }}
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">ELO Points</h3>
			</div>
			<div class="panel-body">
				{{ user.ELORanking}}
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Email</h3>
			</div>
			<div class="panel-body">
				{{ user.email }}
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				 <h3 class="panel-title">Games</h3>
			</div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<td>Played</td>
						<td>Won</td>
						<td>Lost</td>
                        <td>Win %</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ gameStatistics.games }}</td>
						<td>{{ gameStatistics.won }}</td>
						<td>{{ gameStatistics.lost }}</td>
                        <td>{{ WinRatio|number_format(2, '.', ',') }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Goals</h3>
			</div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<td>Scored</td>
						<td>Conceded</td>
						<td>Difference</td>
                        <td>Score ratio</td>
                        <td>Avg. score</td>
                        <td>Avg. conceded</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ goalStatistics.scored }}</td>
						<td>{{ goalStatistics.conceded }}</td>
						<td>{{ goalStatistics.difference }}</td>
						<td>{{ ScoreRatio|number_format(2, '.', ',') }}</td>
						<td>{{ AvgScore|number_format(2, '.', ',') }}</td>
						<td>{{ AvgConceded|number_format(2, '.', ',') }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-x-4 pull-right">
        <a href="{{ path("fos_user_profile_edit") }}" class="btn btn-warning btn-lg pull-right">Edit profile</a>
    </div>
</div>
<br/>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">ELO History</h3>
			</div>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Team 1</th>
							<th>Team 2</th>
							<th>Score</th>
							<th>ELO rank</th>
							<th>New ELO rank</th>
							<th>Change</th>
						</tr>
					</thead>
					<tbody>
						{% for history in pagination %}
						<tr>
							<td>{{ history.result.player1 }} {% if history.result.player3 != null %} & {{ history.result.player3}} {% endif %}</td>
							<td>{{ history.result.player2 }} {% if history.result.player4 != null %} & {{ history.result.player4}} {% endif %}</td>
							<td>{{ history.result.team1Score }} - {{ history.result.team2Score }}</td>
							<td>{{ history.oldELO }}</td>
							<td>{{ history.newELO }}</td>
							<td>{{ history.newELO - history.oldELO }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
		</div>
	</div>
	<div class="col-xs-4 pull-right">
	    {{ knp_pagination_render(pagination) }}
	</div>
</div>