<div class="page-header">
	<h1> Change your password </h1>
</div>
<div class="row">
	<div class="col-xs-6">
		<form class="form-horizontal fos_user_change_password" role="form" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
		    <div class="form-group">
			    {{ form_label(form.current_password, null, { 'label_attr' : { "class" : "col-xs-4 control-label"} }) }}
			    <div class="col-xs-8">
			    	{{ form_widget(form.current_password, {'attr': {'class' : 'form-control'}}) }}
		    	</div>
		    </div>
		    {% for password in form.new %}
		    <div class="form-group">
			    {{ form_label(password, null, {'label_attr': {'class' : 'col-xs-4 control-label'}}) }}
			    <div class="col-xs-8">
			    	{{ form_widget(password, {'attr': {'class' : 'form-control'}}) }}
			    </div>
		    </div>
		    {% endfor %}
		    <div class="form-group">
			    <div class="col-xs-offset-4 col-xs-4">
			        <button type="submit" class="btn btn-block btn-success">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
		        </div>
		    </div>
		    {{ form_rest(form) }}
		</form>
	</div>
</div>
