{% extends "FoosLeaderCoreBundle::layout.html.twig" %}

{% block content %}
<h3> Enter a new result </h3>
<p> Here you can add a new result for a game you have just played. Simply fill out the
	form and submit. Once you have submitted, the game will then reach a pending mode,
	until all players have agreed on the score.</p>
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        <strong class="text-danger">{{ flashMessage }}</strong>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
<div class="row">
    <div class="alert alert-warning">
        <strong class="text-warning">{{ flashMessage }}</strong>
    </div>
</div>
{% endfor %}
{% if users|length >= 2 %}
<div class="container">
	<form action="{{ path("create_result") }}" method="post" class="form-horizontal" role="form">
		<div class="row">
			<div class="col s6">
				<h3>White team</h3>
			</div>
			<div class="col s6">
				<h3>Red team</h3>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col s6">
				<div class="input-group">
			      <label for="player_1">
			      	  Player 1
			      </label>
			      <select id="player_1" name="player_1" class="col s10 player-choice right">
			      	{% for user in users %}
			      		<option {% if app.user.id == user.id %}selected="selected"{% endif %} value="{{ user.id }}">{{ user.username }}</option>
			      	{% endfor %}
				  </select>
			    </div><!-- /input-group -->
			</div>
			<div class="col s6">
			    <div class="input-group">
				     <label for="player_2">
				      	  Player 2
				      </label>
				      <select id="player_2" name="player_2" class="col s10 player-choice right">
				      	{% for user in users %}
				      		<option {% if app.user.id != user.id %}selected="selected"{% endif %} value="{{ user.id }}">{{ user.username }}</option>
				      	{% endfor %}
					  </select>
				</div><!-- /input-group -->
			</div>
		</div>
		<br />
		{% if users|length >= 4 %}
		<div class="row">
			<div class="col s6">
				<div class="input-group">
				      <label for="player_3">
				      	  Player 3
				      </label>
				      <select id="player_3" name="player_3" class="col s10 player-choice right">
				      	<option value="none-3">None</option>
				      	{% for user in users %}
				      		<option value="{{ user.id }}">{{ user.username }}</option>
				      	{% endfor %}
					  </select>

				</div><!-- /input-group -->
			</div>
			<div class="col s6">
				<div class="input-group">
				    <label for="player_4">
				      	  Player 4
				      </label>
				      <select id="player_4" name="player_4" class="col s10 player-choice right">
					    <option value="none-4">None</option>
				      	{% for user in users %}
				      		<option value="{{ user.id }}">{{ user.username }}</option>
				      	{% endfor %}
					  </select>
				</div><!-- /input-group -->
			</div>
		</div>
		<br />
		{% endif %}
		<div class="row">
			<div class="col s6">
				<div class="input-group">
					<label for="score_team_1">
						Team 1:
					</label>
					<input class="form-control input-lg" type="text" placeholder="Score" id="score_team_1" name="score_1">
				</div>
			</div>
			<div class="col s6">
			 	<div class="input-group">
					<label for="score_team_2">
						Team: 2
					</label>
					<input class="form-control input-lg" type="text" placeholder="Score" id="score_team_2" name="score_2">
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col 12">
				<button id="create_result" type="submit" class="btn btn-success btn-lg btn-block right">Add result</button>
			</div>
		</div>
	</form>
</div>
{% endif %}
{% endblock %}
