<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex,nofollow"/>
    {% stylesheets filter="compass"
        '@FoosLeaderCoreBundle/Resources/public/sass/materialize.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    {% stylesheets filter=""
        '@FoosLeaderCoreBundle/Resources/public/css/main.css'
    %}

    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    {% javascripts filter=""
        'bundles/foosleadercore/js/jquery-2.1.0.min.js'
        'bundles/foosleadercore/js/highcharts.js'
        'bundles/foosleadercore/js/*'
        'bundles/foosleadercore/js/bin/materialize.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endjavascripts %}
    <title>FoosLeader</title>
</head>
<body>
{% block body %}
    {% block header %}
        <header class="main-header">
            <div class="container">
                <div class="col s12">
                    <h1>
                        <a class="blue-grey-text" href="{{ path('home') }}">FoosLeader</a>
                    </h1>

                </div>
            </div>
        </header>
    {% endblock %}
    <div class="container">
    {% block container %}
        <div class="row">
            <div class="col s9">
                {% block content %}{% endblock %}
            </div>
            <div class="col s3">
                {%  block navigation %}
                <div class="collection">
                    {% block navigation_items %}
                        <a href="{{ path('fos_user_profile_show', { 'id' : app.user.id}) }}" class="collection-item">
                            {{ app.user.username }} <span class="badge blue darken-4 white-text">{{ app.user.getELORanking() }}</span>
                        </a>
                        <a href="{{ path('new_result') }}" class="collection-item">New result</a>
                        <a href="{{ path('statistics_global') }}" class="collection-item">Statistics</a>

                        <a href="{{ path('dispute_overview') }}" class="collection-item">
                            Disputes
                            {%- if app.user.getDisputedResults()|length > 0 -%}
                                <span class="badge red lighten-2 black-text">
                                    {{ app.user.getDisputedResults()|length }}
                                </span>
                            {%- else -%}
                                <span class="badge green lighten-2 black-text">
                                    {{ app.user.getDisputedResults()|length }}
                                </span>
                            {%- endif -%}
                        </a>
                    {% endblock %}
                </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
    </div>
{% endblock %}
</body>
</html>
