{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col s9">
        <form role="form" class="" action="{{ path("fos_user_security_check") }}" method="post">
            {% if error %}
                <div class="alert alert-warning">
                    {{ error|trans({}, 'FOSUserBundle') }}
                </div>
            {% endif %}
            <div class="col s12">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />

                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" required="required" class="form-control" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                <input type="submit" id="_submit" name="_submit" class="right btn" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-default pull-left" />
            </div>
            <div class="col s12 top-buffer">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-flat left">Sign up</a>
                <a href="{{ path('fos_user_resetting_request') }}" class="btn right btn-flat left">Forgotten password?</a>

            </div>
        </form>
    </div>
</div>
{% endblock %}