<div class="chartAll">

    <script>
        $(function () {
            $('.chartAll').highcharts({
                exporting: { enabled: false },
                title:{
                    text:''
                },
                labels: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                subTitle:{
                    text:''
                },
                legend: {

                },
                xAxis: {
                    title:{
                        text:''
                    },
                    categories: [
                        {% for key,value in results %}
                            '{{ key }}',
                        {% endfor %}
                    ]
                },
                yAxis: {
                    title:{
                        text:''
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#cccccc'
                    }]
                },
                tooltip: {
                    useHTML : true,
                    formatter: function() {
                        return '<b>'+ this.point.name +'</b><br/>'+
                        '<b>'+ Highcharts.numberFormat(this.y, 0) +'</b><br/>'+
                        '<span>'+this.x + "</span><br/>";
                    }
                },

                series: [
                    {% for name,player in players %}
                        {
                            name: '{{ name }}',
                            connectNulls: true,
                            color: "#"+((1<<24)*Math.random()|0).toString(16),
                            data: [
                                {% for value in player %}
                                    {% if value == -1 %}
                                { y : null, name : '{{ name }}' },
                                    {% else %}
                                        { y : {{ value }}, name : '{{ name }}' },
                                    {% endif %}
                                {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            });

        });
    </script>
</div>