{% extends "FoosLeaderCoreBundle::layout.html.twig" %}

{% block content %}
<div class="page-header clearfix">
    <h3> {{ app.user.username }} ({{ app.user.ELORanking }}) vs {{ rival.username }} ({{ rival.ELORanking }}) </h3>
    <h4> You have played {{ totalGames }} game{%- if totalGames > 1 -%}s{%- endif %} against each other</h4>
    <p>Here you can find a few statistics on {{ rival.username }} and your rivalry</p>
</div>
<div class="row">
    <div class="col s12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">{{ rival.username}}'s goals</h4>
            </div>
            <table class="table hoverable striped">
                <thead>
                <tr>
                    <th>Scored</th>
                    <th>Conceded</th>
                    <th>Difference</th>
                    <th>Score ratio</th>
                    <th>Avg. score</th>
                    <th>Avg. conceded</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ goalStatistics.scored }}</td>
                    <td>{{ goalStatistics.conceded }}</td>
                    <td>{{ goalStatistics.difference }}</td>
                    <td>{{ ScoreRatio|number_format(2, '.', ',') }}</td>
                    <td>{{ AvgScore|number_format(2, '.', ',') }}</td>
                    <td>{{ AvgConceded|number_format(2, '.', ',') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">{{ rival.username }}'s games</h4>
            </div>
            <table class="table hoverable striped">
                <thead>
                <tr>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Win Ratio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ gameStatistics.games }}</td>
                    <td>{{ gameStatistics.won }}</td>
                    <td>{{ gameStatistics.lost }}</td>
                    <td>{{ winRatio|number_format(0, '.', ',') }}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Rivalry</h4>
            </div>
            <table class="table hoverable striped">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Games won</th>
                    <th>Goals scored</th>
                    <th>Games won ratio</th>
                    <th>Goals scored ratio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ app.user.username }}</td>
                    <td>{{ gamesUserWon }}</td>
                    <td>{{ goalsUserScored }}</td>
                    <td>{{ gamesUserWonRatio }}</td>
                    <td>{{ goalsUserScoredRatio }}</td>
                </tr>
                <tr>
                    <td>{{ rival.username }}</td>
                    <td>{{ gamesRivalWon }}</td>
                    <td>{{ goalsRivalScored }}</td>
                    <td>{{ gamesRivalWonRatio }}</td>
                    <td>{{ goalsRivalScoredRatio }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Possible ELO changes</h4>
            </div>
            <table class="table hoverable striped">
                <thead>
                <tr>
                    <th>Result</th>
                    <th>Old ELO</th>
                    <th>New ELO</th>
                    <th>Changes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ app.user.username }} wins</td>
                    <td>{{ possibleOutcome.getTeam1VictoriousELOHistory(app.user).currentELO }}</td>
                    <td>{{ possibleOutcome.getTeam1VictoriousELOHistory(app.user).newELO }}</td>
                    <td>{{ possibleOutcome.getTeam1VictoriousELOHistory(app.user).change }}</td>
                </tr>
                <tr>
                    <td>{{ rival.username }} loses</td>
                    <td>{{ possibleOutcome.getTeam1VictoriousELOHistory(rival).currentELO }}</td>
                    <td>{{ possibleOutcome.getTeam1VictoriousELOHistory(rival).newELO }}</td>
                    <td>{{ possibleOutcome.getTeam1VictoriousELOHistory(rival).change }}</td>
                </tr>
                <tr>
                    <td>{{ app.user.username }} loses</td>
                    <td>{{ possibleOutcome.getTeam2VictoriousELOHistory(app.user).currentELO }}</td>
                    <td>{{ possibleOutcome.getTeam2VictoriousELOHistory(app.user).newELO }}</td>
                    <td>{{ possibleOutcome.getTeam2VictoriousELOHistory(app.user).change }}</td>
                </tr>
                <tr>
                    <td>{{ rival.username }} wins</td>
                    <td>{{ possibleOutcome.getTeam2VictoriousELOHistory(rival).currentELO }}</td>
                    <td>{{ possibleOutcome.getTeam2VictoriousELOHistory(rival).newELO }}</td>
                    <td>{{ possibleOutcome.getTeam2VictoriousELOHistory(rival).change }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Result History</h4>
            </div>
            <table class="table hoverable striped">
                <thead>
                <tr>
                    <th>Player 1 (Team 1)</th>
                    <th>Player 3 (Team 1)</th>
                    <th>Player 2 (Team 2)</th>
                    <th>Player 4 (Team 2)</th>
                    <th>Team 1 Score</th>
                    <th>Team 2 Score</th>
                    <th>Played</th>
                </tr>
                </thead>
                <tbody>
                {% for result in pagination %}
                    <tr>
                        <td>
                            {% if result.player1.id == rival.id %} 
                                <em>{{ result.player1.username }}</em>
                            {% elseif result.player1.id == app.user.id %}
                                <strong>{{ result.player1.username }}</strong>
                            {% else %}
                                  <a href={{ path('view_user_profile', { 'userId' : result.player1.id }) }}>{{ result.player1.username }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if result.player3 %} 
                                {% if result.player3.id == rival.id %} 
                                    <em>{{ result.player3.username }}</em>
                                {% elseif result.player3.id == app.user.id %}
                                    <strong>{{ result.player3.username }}</strong>
                                {% else %}
                                    <a href={{ path('view_user_profile', { 'userId' : result.player3.id }) }}>{{ result.player3.username }}</a>
                                {% endif %} 
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if result.player2.id == rival.id %} 
                                <em>{{ result.player2.username }}</em>
                            {% elseif result.player2.id == app.user.id %}
                                <strong>{{ result.player2.username }}</strong>
                            {% else %}
                                <a href={{ path('view_user_profile', { 'userId' : result.player2.id }) }}>{{ result.player2.username }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if result.player4 %} 
                                {% if result.player4.id == rival.id %} 
                                    <em>{{ result.player4.username }}</em>
                                {% elseif result.player4.id == app.user.id %}
                                    <strong>{{ result.player4.username }}</strong>
                                {% else %}
                                    <a href={{ path('view_user_profile', { 'userId' : result.player4.id }) }}>{{ result.player4.username }}</a>
                                {% endif %} 
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ result.team1Score }}
                        </td>
                        <td>
                            {{ result.team2Score }}
                        </td>
                        <td>
                            {{ result.submitted|date('d/m/Y') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="col s6 right">
        {{ knp_pagination_render(pagination) }}
    </div>
    </div>
</div>

{% endblock %}
